.crypto-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  width: 100%;
  max-width: 330px;
}

.crypto-logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .crypto-card {
    max-width: 750px;
  }
}

@media (max-width: 480px) {
  .crypto-card {
    max-width: 450px;
  }
}
